<section id="contacts" class="section">
    <div class="container">
        <div class="fixed-grid has-1-cols has-2-cols-tablet">
            <div class="grid is-gap-4">
                <div class="cell">
                    <figure class="image is-16by9">
                        <img src="https://bulma.io/assets/images/placeholders/640x360.png"
                             alt="Placeholder image"/>
                    </figure>
                </div>

                <div class="cell">
                    <h2 class="title">Контакты</h2>

                    <a href="tel:+79999999999" class="button is-ghost is-large px-0">+7 999 999 99 99</a>

                    <p class="is-size-4">Большой Саввинский переулок дом 12с6</p>

                    <a href="#" class="button is-primary is-large mt-4">Записаться на приём</a>
                </div>
            </div>
        </div>
    </div>
</section>